node_modules
.next
out
.env
.env.local
.env.production.local
.vercel
.vercel-home
.vercel-localappdata
.vercel-appdata
.vercel-global
.npm-cache
.dev-server.log
.dev-server.err.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
